:root {
  /* Fonts */
  --font-heading: "Inter", sans-serif;
  --font-body: "JetBrains Mono", monospace;

  /* Typography */
  --scale-ratio: 1.25; 
  --font-size-05: clamp(.5rem, 1rem, .75rem); /* Adjust min, preferred, and max values as needed */
  --font-size-1: clamp(1rem, 1rem, 1.25rem); /* Adjust min, preferred, and max values as needed */
  --font-size-2: clamp(1.35rem, calc(var(--font-size-1) * var(--scale-ratio)), 1.65rem);
  --font-size-3: clamp(1.75rem, calc(var(--font-size-2) * var(--scale-ratio)), 2.5rem);
  --font-size-4: clamp(2.75rem, calc(var(--font-size-3) * var(--scale-ratio)), 3.75rem);
  --font-size-5: clamp(4.5rem, calc(var(--font-size-4) * var(--scale-ratio)), 5.75rem);

  /* Colors */
  --color-primary--dark: #282828;
  --color-primary--light: #F9F6EF;
  --color-secondary--dark: #193497;
  --color-secondary--light: #B8D926;

  /* Spacing */
  --space-xs: clamp(0.75rem, 0.6733rem + 0.3409vw, 0.9375rem);
  --space-s: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3466rem + 0.6818vw, 1.875rem);
  --space-l: clamp(2rem, 1.7955rem + 0.9091vw, 2.5rem);
  --space-xl: clamp(3rem, 2.6932rem + 1.3636vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.5909rem + 1.8182vw, 5rem);
  --space-3xl: clamp(6rem, 5.3864rem + 2.7273vw, 7.5rem);
}

body {
    background-color: var(--color-primary--light);
    font-family: var(--font-body);
    color: var(--color-primary--dark);
    width: 90%;
    max-width: 1500px;
    padding: 0 var(--space-s);
    margin: 0 auto;
    font-size: var(--font-size-1);
}

.nav-area {
    display: flex;
    justify-content: end;
}

.logo {
    margin: var(--space-s) 0;

    background-color: var(--color-secondary--light);
    color: var(--color-primary--dark);
    font-weight: 800;
    padding: .5rem;
    width: fit-content;
}

h1 {
  font-size: var(--font-size-5);
  font-family: var(--font-heading);
  border-top: 2px solid var(--color-primary--dark);
  border-bottom: 2px solid var(--color-primary--dark);
  padding: var(--space-m) 0;
  margin: 0 0 var(--space-m);
}

h2 {
    font-size: var(--font-size-3);
    font-family: var(--font-heading);
}

h3 {
    font-size: var(--font-size-2);
    font-family: var(--font-heading);
}

h4 {
    font-size: var(--font-size-1);
    font-family: var(--font-heading);
}