:root {
  /* Fonts */
  --font-heading: "Inter", sans-serif;
  --font-body: "JetBrains Mono", monospace;

  /* Typography */
  --font_size--2: clamp(0.6944rem, 0.6234rem + 0.3157vw, 0.8681rem);
  --font_size--1: clamp(0.8333rem, 0.7481rem + 0.3788vw, 1.0417rem);
  --font_size-0: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
  --font_size-1: clamp(1.2rem, 1.0773rem + 0.5455vw, 1.5rem);
  --font_size-2: clamp(1.44rem, 1.2927rem + 0.6545vw, 1.8rem);
  --font_size-3: clamp(1.728rem, 1.5513rem + 0.7855vw, 2.16rem);
  --font_size-4: clamp(2.0736rem, 1.8615rem + 0.9425vw, 2.592rem);
  --font_size-5: clamp(2.4883rem, 2.2338rem + 1.1311vw, 3.1104rem);

  /* Colors */
  --color-primary--dark: #282828;
  --color-primary--light: #F9F6EF;
  --color-secondary--dark: #193497;
  --color-secondary--light: #B8D926;

  /* Spacing */
  --space-xs: clamp(0.75rem, 0.6733rem + 0.3409vw, 0.9375rem);
  --space-s: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3466rem + 0.6818vw, 1.875rem);
  --space-l: clamp(2rem, 1.7955rem + 0.9091vw, 2.5rem);
  --space-xl: clamp(3rem, 2.6932rem + 1.3636vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.5909rem + 1.8182vw, 5rem);
  --space-3xl: clamp(6rem, 5.3864rem + 2.7273vw, 7.5rem);
}

body {
    background-color: var(--color-primary--light);
}

main {
  width: 90%;
  max-width: 1500px;
  padding: 0 var(--space-s);
  margin: 0 auto;
}

h1 {
  font-size: var(--font_size-5);
  font-family: var(--font-heading);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: var(--space-m) 0;
}