*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  /* colors */
  --primary-color: #3661c9;

  --grid-size: 30px;
}

body {
  background-size: var(--grid-size) var(--grid-size);
  background-image:
    linear-gradient(to right, rgba(54, 97, 201, .3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(54, 97, 201, .3), transparent 1px);
  padding: calc(var(--grid-size) * 2);
  color: var(--primary-color);
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

h1 {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 55px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
}

.content-box {
  background-color: #fff;
  padding: 40px;
  width: 100%;
  max-width: 600px;
}

a {
    color: var(--primary-color);
}

.social-icons {
  display: flex;
  gap: 50px;
  margin-top: 60px;
}

.social-icons i {
  padding: 0;
  margin: 0;
  width: 0;
  font-size: 40px;
}