*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  /* colors */
  --primary-color: #3661c9;

  --grid-size: 30px;
}

body {
  background-size: var(--grid-size) var(--grid-size);
  background-image:
    linear-gradient(to right, rgba(54, 97, 201, .3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(54, 97, 201, .3), transparent 1px);
  padding: calc(var(--grid-size) * 2);
  color: var(--primary-color);
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0
}

h1 {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 55px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
}

main {
  flex: 1;
}


footer {
  min-height: 50px;
  width: fit-content;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  background-color: var(--primary-color);

}

footer a {
    color: #fff;
}

footer p {
  margin-bottom: 0;
}

.header-wrapper {
    @media (min-width: 900px) {
      display: flex;
      gap: calc(var(--grid-size) * 2);
    }

}

nav {
  @media (min-width: 900px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

header {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  background-color: var(--primary-color);
  height: fit-content;

}

header a {
    color: #fff;
}


.content-box {
  background-color: #fff;
  padding: 40px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

a {
    color: var(--primary-color);
}

.social-icons {
  display: flex;
  gap: 50px;
  margin-top: 60px;
}

.social-icons i {
  padding: 0;
  margin: 0;
  width: 0;
  font-size: 40px;
}