

.hero-home__textblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        height: 100%;
}

.hero-home__subhead {
    font-size: var(--font-size-1);
    font-family: var(--font-body);
    padding: 0;
    margin-top: 0;
    margin-bottom: var(--space-l);
    color: var(--color-black);
    font-weight: 100;
    line-height: 165%;
    max-width: 45vw;
    font-weight: 200;
}

nav > ul {
    margin: 0;
    padding: 0;

    & > li {
        list-style: none;
    }
}

.hero-home__project-toc {
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    background-color: var(--color-cream);
    color: var(--color-dark);
    font-size: var(--font-size-05);
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: var(--space-s);
    border-bottom: 1px solid color-mix(in srgb, var(--color-primary--light) 40%, transparent);
    text-decoration: none;
    color: inherit;
    transition: opacity ease-in-out 0.2s;
}

.project-container:hover {
    opacity: 0.7;
}

@media (min-width: 1225px) {
    .project-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

.hero-home__all-projects {
    font-weight: 100;
    list-style: none;
    padding: var(--space-s); 
    text-decoration: none;
    display: block;
    color: color-mix(in srgb, var(--color-primary--light) 60%, transparent);
    overflow: hidden;
    position: relative;
    width: fit-content;
}


.hero-home__all-projects:hover,
.hero-home__all-projects:focus{
    text-decoration: underline;
}

.hero-home__work-tag {
    color: var(--color-primary--light);
    text-decoration: none;
    font-size: var(--font-size-05);
    background-color: var(--color-primary--dark);
    padding: .5rem .75rem;
    width: fit-content;
    font-weight: 100;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .5);

}

.hero-home__tag-set {
    display: grid;
    grid-template-rows: auto auto;
    gap: .75rem;
}