main {
    background-color: var(--color-secondary--dark);
    padding: var(--space-m);
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

@media (min-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }
}

.hero-home__subhead {
    font-size: var(--font-size-1);
    font-family: var(--font-body);
    padding: 0;
    margin-top: 0;
    margin-bottom: var(--space-l);
    color: var(--color-primary--light);
    font-weight: 100;
    line-height: 165%;
}