main {
    background-color: var(--color-secondary--dark);
    padding: var(--space-m);
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

@media (min-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        grid-template-rows: auto;
    }
}

.hero-home__subhead {
    font-size: var(--font-size-1);
    font-family: var(--font-body);
    padding: 0;
    margin-top: 0;
    margin-bottom: var(--space-l);
    color: var(--color-primary--light);
    font-weight: 100;
    line-height: 165%;
}

nav > ul > li {
    list-style: none;
}

.hero-home__project-toc {
    border-right: 1px solid var(--color-primary--light);
    border-left: 1px solid var(--color-primary--light);
    color: var(--color-primary--light);
    padding: var(--space-xs) var(--space-s);
    font-size: var(--font-size-05);

    & ul {
        margin: 0;
    }

    & li {
        & .project-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    & li.hero-home__all-projects {
        font-weight: 100;
        list-style: none;
        margin-top: var(--space-s);
    }
}

.hero-home__work-tag {
    color: var(--color-primary--light);
    text-decoration: none;
    font-size: var(--font-size-05);
    background-color: var(--color-primary--dark);
    padding: .5rem .75rem;
    width: fit-content;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: var(--space-xl);
}