.blog-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid blue;

    @media (min-width: 1250px) {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

    }
    
}

.blog-listing__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
   

    @media (min-width: 1250px) {
        justify-content: space-between;
        flex-direction: row;
    }
}

.blog-listing__title a {
    @media (min-width: 1250px) {
         align-self: center;
    }
}

.blog-listing__tags {
    display: flex;
    gap: 10px;
}

.blog-listing__tag {
    background-color: blue;
    padding: 5px 10px;
    color: white;
}