---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<BaseLayout>
<div class="content-box">
  <h1>Hi, I'm Cassi</h1>
  <p>I’m a front-end developer, designer, and all around too-many-hobbyist based in Bellingham, WA.</p>
  <p>I like to work at the intersection of development, design, UX and UI. Basically, I make stuff for the web and I like writing css.</p>
</div>
</BaseLayout>
