---
import "../styles/global.css";
import "../styles/home.css";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout mainHeading={`Cassi Gallagehr-Shearer`}>
  <div>
    <p class="hero-home__subhead">
      Frontend Engineer who enjoys CSS<br />
      and building things on the web for<br />
      <strong>real humans.</strong>
    </p>
    <div>
      <div class="hero-home__tag-set">
        <a href="#" class="tag">github</a>
        <a href="#" class="tag">linkedin</a>
      </div>
      <div class="hero-home__work-tag">Currently Available for Work</div>
    </div>
  </div>
  <nav class="hero-home__nav">
    <ul>
      <li><a href="#"><span>01</span><div>Selected Work</div></a></li>
      <div class="hero-home__project-toc">
        <ul>
          <li>
            <div class="project-container">
              Project Highlight: Scrolling Logos
              <div class="hero-home__tag-set">
                <a href="#" class="tag">github</a>
                <a href="#" class="tag">linkedin</a>
              </div>
            </div>
          </li>
          <li>
            <div class="project-container">
              Project Highlight: Scrolling Logos
              <div class="hero-home__tag-set">
                <a href="#" class="tag">github</a>
                <a href="#" class="tag">linkedin</a>
              </div>
            </div>
          </li>
          <li>
            <div class="project-container">
              Project Highlight: Scrolling Logos
              <div class="hero-home__tag-set">
                <a href="#" class="tag">github</a>
                <a href="#" class="tag">linkedin</a>
              </div>
            </div>
          </li>
          <li>
            <div class="project-container">
              Project Highlight: Scrolling Logos
              <div class="hero-home__tag-set">
                <a href="#" class="tag">github</a>
                <a href="#" class="tag">linkedin</a>
              </div>
            </div>
          </li>
          <li class="hero-home__all-projects">
            <span>See all projects →</span>
          </li>
        </ul>
      </div>
      <li><a href="#"><span>02</span><div>About</div></a></li>
      <li><a href="#"><span>03</span><div>Contact</div></a></li>
    </ul>
  </nav>
</BaseLayout>
