---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "CassiGS Dev and Design";


const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<BaseLayout pageTitle={pageTitle}>
<div class="content-box">
  <h1>Hi, I'm Cassi</h1>
  <p>I’m a front-end developer, designer, and all around too-many-hobbiest based in Bellingham, WA.</p>
  <p>I build approachable digital experiences and enjoy exploring the space where code, design systems, and creativity overlap. Which is to say, I have a soft spot for CSS.</p>
    
  <p>Outside of code I explore a few creative detours like fiber arts and illustration over in my studio.</p>

  <p>Currently, I'm open for work and new projects. Let's chat.</p>

  <div class="social-icons">
    <a href="https://www.linkedin.com/in/cassigs/" target="__blank"><i class="fa-brands fa-square-linkedin"></i></a>
    <a href="https://github.com/CassiGS" target="__blank"><i class="fa-brands fa-square-github"></i></a>
  </div>
</div>
</BaseLayout>
