---
import "../styles/global.css";
import "../styles/home.css";

import BaseLayout from "../layouts/BaseLayout.astro";

import Tag from "../components/Tag.astro";
import NumberNav from "../components/NumberNav.astro";

const postModules = import.meta.glob<{
  frontmatter: { title: string; tags?: string[]; featured?: boolean };
  url: string;
}>("./projects/*.md", { eager: true });

const featuredPosts = Object.values(postModules).filter(
  (p) => p.frontmatter.featured === true,
);
---

<BaseLayout mainHeading={`Cassi Gallagher-Shearer`}>
  <p class="hero-home__subhead">
    I'm a web engineer, CMS wrangler, and CSS whisperer based in Bellingham, WA.
    I enjoy solving problems on the web and I'll make friends with your
    marketing team.
  </p>
  <!-- <div>
    <div class="hero-home__textblock">
      <p class="hero-home__subhead">
        Frontend Engineer who enjoys CSS<br />
        and building things on the web for<br />
        <strong>real humans.</strong>
      </p>
      <div class="hero-home__tag-set">
        <div>
          <Tag link="#" dark>github</Tag>
          <Tag link="#" dark>linkedin</Tag>
        </div>
        <div class="hero-home__work-tag">Currently Available for Work</div>
      </div>
    </div>
  </div>
  <nav>
    <ul>
      <li><NumberNav dark link="#" number="01" text="Selected Work" /></li>
      <li class="hero-home__project-toc">
        {
          featuredPosts.map((post) => (
            <a href={post.url} class="project-container">
              {post.frontmatter.title}
              <div>
                {post.frontmatter.tags?.map((tag) => (
                  <Tag dark>{tag}</Tag>
                ))}
              </div>
            </a>
          ))
        }
        <a href="/projects" class="hero-home__all-projects">
          See all projects →
        </a>
      </li>
      <li><NumberNav dark link="/about" number="02" text="About" /></li>
      <li>
        <NumberNav
          dark
          link="mailto:ccgall@gmail.com"
          number="03"
          text="Contact"
        />
      </li>
    </ul>
  </nav> -->
</BaseLayout>
