---
import BaseLayout from "../layouts/BaseLayout.astro";

import '../styles/notes.css'

const pageTitle = "Dev Notes";
---

<BaseLayout pageTitle={pageTitle}>
<div class="content-box">
  <h1>Dev Notes</h1>
  <p>Words on development, case studies and projects, expiriments, and works-in-progress</p>
</div>
<div class="content-box">
  <h2>2025</h2>
 <div class="blog-link">
    <div class="blog-listing__title">
        <a href="#">Blog Link Title</a>
        <div class="blog-listing__tags">
          <div class="blog-listing__tag">Tag A</div>
          <div class="blog-listing__tag">Tag B</div>
        </div>
    </div>
    <div>Jan 10, 2025</div>
  </div>
 <div class="blog-link">
    <div class="blog-listing__title">
        <a href="#">Blog Link Title</a>
        <div class="blog-listing__tags">
          <div class="blog-listing__tag">Tag A</div>
          <div class="blog-listing__tag">Tag B</div>
        </div>
    </div>
    <div>Jan 10, 2025</div>
  </div>
    <div class="blog-link">
    <div class="blog-listing__title">
        <a href="#">Blog Link Title</a>
        <div class="blog-listing__tags">
          <div class="blog-listing__tag">Tag A</div>
          <div class="blog-listing__tag">Tag B</div>
        </div>
    </div>
    <div>Jan 10, 2025</div>
  </div>
</div>
</BaseLayout>
