---
import Image from "astro/components/Image.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import CalloutList from "./CalloutList.astro";

import Dog from "../images/office-dog.jpeg";

const { pageIndex, pageTitle, listItems } = Astro.props;
---

<SectionLayout id="about" pageIndex={pageIndex} pageTitle={pageTitle}>
  <div class="about__columns">
    <slot />
    <CalloutList listItems={listItems}>
      <Image
        slot="additionalEl"
        class="dog-tooltip"
        src={Dog}
        alt="Sleepy the office dog"
      />
    </CalloutList>
  </div>
</SectionLayout>

<style>
  .about__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

  .about__columns {
    font-family: var(--font);
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.7;
    margin: 0 0 1rem 0;
  }

  @media (max-width: 768px) {
    .about__columns {
      grid-template-columns: 1fr;
    }
  }
</style>
