---

---

<div class="nav-area">
  <div class="logo">CassiGS Development</div>
</div>

<style>
  .nav-area {
    display: flex;
    justify-content: end;
  }

  .logo {
    margin: var(--space-s) 0;

    background-color: var(--color-secondary--light);
    color: var(--color-primary--dark);
    font-weight: 800;
    padding: 0.5rem;
    width: fit-content;
  }
</style>
