---
const { items } = Astro.props;
---

<ul class="number-nav-list">
  {
    items.map((item: { text: string; link?: string }, i: number) => (
      <li>
        <div class="number-nav-wrapper">
          <div class="number-nav">
            <span>{String(i + 1).padStart(2, "0")}</span>
            {item.link ? (
              <a href={item.link} class="number-nav__text">
                {item.text}
              </a>
            ) : (
              <div class="number-nav__text">{item.text}</div>
            )}
          </div>
          {i === 0 && Astro.slots.has("toc-1") && (
            <div class="number-nav__toc">
              <slot name="toc-1" />
            </div>
          )}
          {i === 1 && Astro.slots.has("toc-2") && (
            <div class="number-nav__toc">
              <slot name="toc-2" />
            </div>
          )}
          {i === 2 && Astro.slots.has("toc-3") && (
            <div class="number-nav__toc">
              <slot name="toc-3" />
            </div>
          )}
          {i === 3 && Astro.slots.has("toc-4") && (
            <div class="number-nav__toc">
              <slot name="toc-4" />
            </div>
          )}
          {i === 4 && Astro.slots.has("toc-5") && (
            <div class="number-nav__toc">
              <slot name="toc-5" />
            </div>
          )}
          {i === 5 && Astro.slots.has("toc-6") && (
            <div class="number-nav__toc">
              <slot name="toc-6" />
            </div>
          )}
        </div>
      </li>
    ))
  }
</ul>

<style>
  .number-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .number-nav-wrapper {
    margin-bottom: -1px;
  }

  .number-nav {
    border: 1px solid var(--color-border);
    background-color: var(--color-cream);
    color: var(--color-dark);

    display: grid;
    grid-template-columns: 56px 1fr;
    font-size: 14px;
    transition: all ease-in-out 0.3s;
    font-weight: 300;

    & span {
      padding: var(--space-s);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      font-style: italic;
    }
  }

  .number-nav__text,
  a.number-nav__text {
    padding: var(--space-s);
    display: flex;
    align-items: center;
    color: var(--color-dark);
    text-decoration: none;
  }

  a.number-nav__text:hover {
    text-decoration: underline;
  }

  .number-nav__toc {
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    background-color: var(--color-cream);
    color: var(--color-dark);
    font-size: var(--font-size-05);
    padding: var(--space-m) 0 var(--space-m) calc(56px + var(--space-s));
  }
</style>
